@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

.header-spacer {
    height: 60px;
}

.app-link {
    font-size: 16px;
}


@media (max-width: 480px) {
    .header-spacer {
        height: 82px;
    }

    .header-mobile-wrapper {
        padding: 0 15px;
    }

    .hero-title {
        font-size: 48px;
    }
}